.faq{
    padding: 0 0 100px;
}

.accordion-item {
    margin-bottom: 15px;
    border: none;
}
.accordion-body{
    background: #eee;
}
.accordion-button {
    border: 1px solid gray !important;
    border-radius: 5px !important;
}
/* -----media query------------- */

/* ----small mobile device---------- */
@media (max-width:375px){
    .faq_img {
        padding-top: 50px;
    }
}