.testimonial{
    padding: 0 0 100px;
}
.testimonial p{
    color: var(--paragraph-color);
}
.testimonial span {
    color: #ff9900;
}
/* .slick-track{
    width: auto !important;
}
.slick-track .slick-slide{
    width: auto !important;
} */
