
.product_card{
    position: relative;
}
.product_card .cancel{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.status{
    position: absolute;
    padding: 7px;
    background: var(--primary-color);
    border-radius: 5px;
    left: 0px;
    top: 0px;
    color: white;
}
.product_title{
    padding: 0 0 30px;
}