.products{
    padding: 100px 0;
}
.card_img{
    position: relative;
    overflow: hidden;
}
.card_img img{
    transition: 0.3s;
    height: 350px;
}
.card_img img:hover{
    transform: scale(1.1);
}
.card_img .price{
    position: absolute;
    top: 5px;
    left: 5px;
    background: #61ce70;
    padding: 7px 5px;
    color: white;
    border-radius: 5px;
}
.card_text .card-title{
    font-size: 22px;
    font-weight: 500;
    color: var(--dark-color);
    margin: 15px 0;
    line-height: 28px;
}
.card_text p{
    color: var(--paragraph-color);
}
.sec_title h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--dark-color);
    position: relative;
    display: inline-block;
}
.sec_title h2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -5px;
}

/* -----media query------------- */

/* ----laptop device */
@media (min-width:992px) and (max-width:1200px){
    .card_text .card-title {
        font-size: 20px;
        font-weight: 600;
    }
}
/* ----small mobile device---------- */
@media (min-width:375px) and (max-width:991px){
    .card_text .card-title {
        font-size: 20px;
        font-weight: 600;
    }
}
@media (max-width:375px){
    .card_img img {
        height: 300px;
    }
    .card_text .card-title {
        font-size: 20px;
    }
}