.hero_banner {
    padding-top: 150px;
}

.hero_content h2 {
    font-size: 72px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.hero_content p {
    font-size: 18px;
    color: var(--paragraph-color);
    margin-bottom: 20px;
    max-width: 410px;
}

.hero_img {
    overflow: hidden;
    transform: rotateY(180deg);
}

.hero_img img {
    animation: animate_banner 1s linear infinite alternate;
    transform: rotate(360deg);
}

@keyframes animate_banner {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

/* -----media query------------- */

/* ----mobile device---------- */
@media (min-width:375px) and (max-width:576px){
    .hero_content h2 {
        font-size: 62px;
        line-height: 70px;
    }
    .hero_img {
        padding-top: 50px;
    }
}
/* ----small mobile device---------- */
@media (max-width:375px){
    .hero_content h2 {
        font-size: 48px;
        line-height: 60px;
    }
    .hero_img {
        padding-top: 50px;
    }
}